{
  "username": "{{ username }}",
  "enabled": "true",
  "email": "{{ email }}",
  "credentials": [
    {
      "type": "password",
      "value": "{{ password }}"
    }
  ],
  "clientRoles" : {
    "realm-management" : [ "user" ]
  }
}