---
apiVersion: v1
kind: LimitRange
metadata:
  name: "{{ project_name }}-core-resource-limits"
  namespace: {{ project_name }}
spec:
  limits:
    - default:
        cpu: 500m
        memory: 2Gi
      defaultRequest:
        cpu: 200m
        memory: 2Gi
      max:
        memory: 6Gi
      min:
        memory: 1Mi
      type: Container
    - max:
        memory: 12Gi
      min:
        memory: 6Mi
      type: Pod

